<table>
	<tr>
		<td><%= link_to "商品添加", :action => "add"%></td>
	</tr>
	<tr>
		<td><%= link_to "商品编辑", :action => "edit"%></td>
	</tr>
	<tr>
		<td><%= link_to "商品删除", :action => "delete_all"%></td>
	</tr>
</table>
