<%= error_messages_for :user_address %>
<% form_for :user_address do |f| %>
<table border="1" cellspacing="0">
<%= render :partial=>"user_address" %>
<%= hidden_field(:user_address, :id) %>
</table>
<br/>
<%= button_to "确定",:action=>'update' %>
<% end %>

